body {
  background-color: white;
}
  .container-fluid {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-fluid > div {
    width: 80%;
    min-width: 400px;
    max-width: 500px;
  }

  .social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .btn-group button {
    border: 1px solid black;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    display: block;
    font-size: 15px;
}

  .btn-group button:not(:last-child) {
    border-bottom: none;

}

  .btn-group button:hover {
    background-color: silver;
}